[Unit]
Description="Debug Annotation AP Axis Live"
After=default.target

[Service]
User=kittisopikulm
Group=shroff
ExecStart=/groups/scicompsoft/home/kittisopikulm/.juliaup/bin/julia \
    --project=/groups/scicompsoft/home/kittisopikulm/src/ShroffCelegansModels.jl/web \
    /groups/scicompsoft/home/kittisopikulm/src/ShroffCelegansModels.jl/web/scripts/web_debug_annotation_ap_axis_live.jl
WorkingDirectory=/groups/scicompsoft/home/kittisopikulm/src/ShroffCelegansModels.jl
Type=simple

[Install]
WantedBy=default.target
